body{background:#bfffff}

h1{color:#ff80b3;font-size:200 %;}

button{color:#white;height:40;
  background:#ff80b3;
  cursor:pointer;
  border-radius:8 px;
  box-shadow: 0 5 px #3b3522;
  transform: translate Y (0 px);}
  
  header{
  background:#ffffff;
  color:black;
  padding-top:30 px;
  min-height:30 px;
  border-bottom:#e8491d 3 px solid;
  border-top:#e8491d 3 px solid;}
  
  .mwisho{color:white;
  text-align:center;
  background-color: #28a745;
  padding: 10 px 10 px; 
  border-radius: 8 px;
  width:font-size:15px;}
  
  .brian{
  padding:30 px;
  text-align:center;}
  
  .joh{text-align:center;
  background-color:#caffaadd;
  border-radius:30 px;
  :30px;}
  
  .bidhaa{width:200 px;
  padding:15 px;
  border-radius:20 px;}
  
  .kupendeza{display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:15 px;
  padding:30 px;
  background-color:#eabfff;
  border-radius:30;}
  
  bidhaah4{margin 10px 5px;}
  
  .bidhaa img{width:100 %;
  height:auto;
  border-radius:10 px;}
  
  
  
